    Alias /coursedata /var/lib/moodledata/feature-kaltura

    DAVLockDB /var/lock/apache2/feature-kaltura.dav.lock

    <Directory /var/lib/moodledata/feature-kaltura>
        Options Indexes
        AllowOverride None
        Order allow,deny
        Allow from all

        Dav On
        AuthType Basic
        AuthName "feature-kaltura moodle data"
        AuthUserFile "/etc/moodle-site/feature-kaltura/coursedata.htaccess"
        Require valid-user
    </Directory>
