div.swfdoc_section span, div.letsbesneaky {
    display: inline-block;
    text-align: center;
}

div.swfdov_section span input {
    text-align: center;
}

.kalturaDocUploader {
    position: relative;
    top:-20px;
}

.kalturaDocThumb {
    width: 400px;
    height: 290px;

    border-style: solid;
    border-width: 1px;
}

.kalturaDocThumb img {
    position: relative;
    top: 110px;
}
